<ion-view view-title="Purple Movie - Dashboard">
  <ion-content class="padding">

    <div class="row">
      <div class="col col-75">
        <label class="item item-input" style="border-radius: 4px; border: 1px solid #886aea; height: 32px; margin: 0px;">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" ng-model="searchName" placeholder="Movie Name" style="height: 20px;">
          <span on-tap="searchName = null">
            <i class="icon ion-close-circled placeholder-icon" style="margin-right: 4px;" ng-if="searchName"></i>
          </span>

        </label>
      </div>
      <div class="col">
        <a href="#/tab/dash/{{searchName}}" class="button button-small button-royal button-outline" style="width: 100%;" ng-click="clearSearch()">
          Search
        </a>
      </div>
    </div>


    <div ng-controller="segment-controller">


      <div class="row" style="margin-top: 10px;">
        <!-- 3 buttons -->
        <ti-segmented-control on-select="buttonClicked($index)" style="width: 100%;">
          <ti-segmented-control-button class="button-royal" title="'Popular'" selected></ti-segmented-control-button>
          <ti-segmented-control-button class="button-royal" title="'Top Rated'"></ti-segmented-control-button>
          <ti-segmented-control-button class="button-royal" title="'Upcoming'"></ti-segmented-control-button>
          <ti-segmented-control-button class="button-royal" title="'Now Playing'"></ti-segmented-control-button>
        </ti-segmented-control>
      </div>

      <!-- 1. POPULAR -->
      <div ng-include="'templates/lists/popular-list.html'"></div>
      <!-- 1. POPULAR -->

      <!-- 2. TOP-RATED -->
      <div ng-include="'templates/lists/top-rated-list.html'"></div>
      <!-- 2. TOP-RATED -->

      <!-- 3. UP-COMING -->
      <div ng-include="'templates/lists/up-coming-list.html'"></div>
      <!-- 3. UP-COMING -->

      <!-- 4. NOW-PLAYING -->
      <div ng-include="'templates/lists/now-playing-list.html'"></div>
      <!-- 4. NOW-PLAYING -->




    </div>


  </ion-content>
</ion-view>
