<ion-view view-title="Purple Movie - Dashboard">
  <ion-content class="padding">

    <div class="row">
      <div class="col col-75">
        <label class="item item-input" style="border-radius: 4px; border: 1px solid #886aea; height: 32px; margin: 0px;">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" ng-model="searchName" placeholder="Movie Name" style="height: 20px;">
          <span on-tap="searchName = null">
            <i class="icon ion-close-circled placeholder-icon" style="margin-right: 4px;" ng-if="searchName"></i>
          </span>

        </label>
      </div>
      <div class="col">
        <a href="#/tab/dash/{{searchName}}" class="button button-small button-royal button-outline" style="width: 100%;" ng-click="clearSearch()">
          Search
        </a>
      </div>
    </div>


    <div ng-controller="segment-controller">


      <div class="row" style="margin-top: 10px;">
        <!-- 3 buttons -->
        <ti-segmented-control on-select="buttonClicked($index)" style="width: 100%;">
          <ti-segmented-control-button class="button-royal" title="'Popular'" selected></ti-segmented-control-button>
          <ti-segmented-control-button class="button-royal" title="'Top Rated'"></ti-segmented-control-button>
          <ti-segmented-control-button class="button-royal" title="'Upcoming'"></ti-segmented-control-button>
          <ti-segmented-control-button class="button-royal" title="'Now Playing'"></ti-segmented-control-button>
        </ti-segmented-control>
      </div>

      <!-- 1. POPULAR -->
      <div ng-if="selectedIndex==0" class="segment">
        <div class="row">
          <div class="col-33">Total: {{popularRes.total_results}}</div>
          <div class="col-50">Page {{popularRes.page}} of {{popularRes.total_pages}}</div>
          <div class="col-10 ion-arrow-left-a" ng-click="popularPrev()" style="font-size: 2em; color: #387ef5; margin: 0px 20px 0px -20px;"></div>
          <div class="col-10 ion-arrow-right-a" ng-click="popularNext()" style="font-size: 2em; color: #387ef5;"></div>
        </div>
        <ion-scroll zooming="false" direction="y" style="height: 500px;">
          <ion-spinner class="spinner-royal" icon="android" ng-show="popularLoading == true"></ion-spinner>
          <ion-list ng-show="popularLoading == false">
            <ion-item class="item-remove-animate item-thumbnail-left item-icon-right item-text-wrap" ng-repeat="m in popularRes.results"
                      type="item-text-wrap" href="#/tab/dash/detail/{{m.id}}">
              <img ng-if="m.poster_path !== null" ng-src="http://image.tmdb.org/t/p/w500/{{m.poster_path}}">
              <img ng-if="m.poster_path === null" ng-src="img/image-not-available.png">
              <h2>{{m.title}}</h2>
              <p>{{m.release_date | date}}</p>
              <!-- <p><i class="fa fa-star" aria-hidden="true"></i> {{m.vote_average}}/10</p> -->
              <span ng-repeat="s in ratingValues">
                <i class="fa fa-star" ng-if="s < m.vote_average"></i>
                <i class="fa fa-star-o" ng-if="s > m.vote_average"></i>
              </span>
              <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
          </ion-list>
        </ion-scroll>
      </div>
      <!-- 1. POPULAR -->

      <!-- 2. TOP-RATED -->
      <div ng-if="selectedIndex==1" class="segment">
        <div class="row">
          <div class="col-33">Total: {{topRatedRes.total_results}}</div>
          <div class="col-50">Page {{topRatedRes.page}} of {{topRatedRes.total_pages}}</div>
          <div class="col-10 ion-arrow-left-a" ng-click="topRatedPrev()" style="font-size: 2em; color: #387ef5; margin: 0px 20px 0px -20px;"></div>
          <div class="col-10 ion-arrow-right-a" ng-click="topRatedNext()" style="font-size: 2em; color: #387ef5;"></div>
        </div>
        <ion-scroll zooming="false" direction="y" style="height: 500px;">
          <ion-spinner class="spinner-royal" icon="android" ng-show="topRatedLoading == true"></ion-spinner>
          <ion-list ng-show="topRatedLoading == false">
            <ion-item class="item-remove-animate item-thumbnail-left item-icon-right item-text-wrap" ng-repeat="m in topRatedRes.results"
                      type="item-text-wrap" href="#/tab/dash/detail/{{m.id}}">
              <img ng-if="m.poster_path !== null" ng-src="http://image.tmdb.org/t/p/w500/{{m.poster_path}}">
              <img ng-if="m.poster_path === null" ng-src="img/image-not-available.png">
              <h2>{{m.title}}</h2>
              <p>{{m.release_date | date}}</p>
              <span ng-repeat="s in [0,1,2,3,4,5,6,7,8,9]">
                <i class="fa fa-star" ng-if="s < m.vote_average"></i>
                <i class="fa fa-star-o" ng-if="s > m.vote_average"></i>
              </span>
              <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
          </ion-list>
        </ion-scroll>
      </div>
      <!-- 2. TOP-RATED -->

      <div ng-if="selectedIndex==2" class="segment">
        <h4>Up Coming</h4>
        <ion-scroll zooming="false" direction="y" style="height: 500px;">
          <ion-list>
            <ion-item>
              <div class="row">
                <div class="col col-75">Total Results: {{res.total_results}}</div>
                <div class="col">Page {{res.page}} of {{res.total_pages}}</div>
              </div>
            </ion-item>
            <ion-item class="item-remove-animate item-thumbnail-left item-icon-right item-text-wrap" ng-repeat="m in [1,2,3,4,5,6,7,8,9, 10, 11,12]"
                      type="item-text-wrap" href="#/tab/dash/detail/{{m.imdbID}}">
              <img ng-if="m.poster_path !== null" ng-src="http://image.tmdb.org/t/p/w500/{{m.poster_path}}">
              <img ng-if="m.poster_path === null" ng-src="img/image-not-available.png">
              <h2>{{m}}</h2>
              <p>{{m.release_date | date}}</p>
              <span ng-repeat="s in [0,1,2,3,4,5,6,7,8,9]">
                <i class="fa fa-star" ng-if="s < m.vote_average"></i>
                <i class="fa fa-star-o" ng-if="s > m.vote_average"></i>
              </span>
              <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
          </ion-list>
        </ion-scroll>
      </div>
      <div ng-if="selectedIndex==3" class="segment">
        <h4>Now Playing</h4>
        <ion-scroll zooming="false" direction="y" style="height: 500px;">
          <ion-list>
            <ion-item>
              <div class="row">
                <div class="col col-75">Total Results: {{res.total_results}}</div>
                <div class="col">Page {{res.page}} of {{res.total_pages}}</div>
              </div>
            </ion-item>
            <ion-item class="item-remove-animate item-thumbnail-left item-icon-right item-text-wrap" ng-repeat="m in [1,2,3,4,5,6,7,8,9, 10, 11,12]"
                      type="item-text-wrap" href="#/tab/dash/detail/{{m.imdbID}}">
              <img ng-if="m.poster_path !== null" ng-src="http://image.tmdb.org/t/p/w500/{{m.poster_path}}">
              <img ng-if="m.poster_path === null" ng-src="img/image-not-available.png">
              <h2>{{m}}</h2>
              <p>{{m.release_date | date}}</p>
              <span ng-repeat="s in [0,1,2,3,4,5,6,7,8,9]">
                <i class="fa fa-star" ng-if="s < m.vote_average"></i>
                <i class="fa fa-star-o" ng-if="s > m.vote_average"></i>
              </span>
              <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
          </ion-list>
        </ion-scroll>
      </div>

    </div>


  </ion-content>
</ion-view>
