<div ng-if="selectedIndex==1" class="segment">
    <div class="row">
        <div class="col-33">Total: {{topRatedRes.total_results}}</div>
        <div class="col-50">Page {{topRatedRes.page}} of {{topRatedRes.total_pages}}</div>
        <div class="col-10 ion-arrow-left-a" ng-click="topRatedPrev()" style="font-size: 2em; color: #387ef5; margin: 0px 20px 0px -20px;"></div>
        <div class="col-10 ion-arrow-right-a" ng-click="topRatedNext()" style="font-size: 2em; color: #387ef5;"></div>
    </div>
    <ion-scroll zooming="false" direction="y" style="height: 500px;">
        <ion-spinner class="spinner-royal" icon="android" ng-show="topRatedLoading == true"></ion-spinner>
        <ion-list ng-show="topRatedLoading == false">
            <ion-item class="item-remove-animate item-thumbnail-left item-icon-right item-text-wrap" ng-repeat="m in topRatedRes.results"
                      type="item-text-wrap" href="#/tab/dash/detail/{{m.id}}">
                <img ng-if="m.poster_path !== null" ng-src="http://image.tmdb.org/t/p/w500/{{m.poster_path}}">
                <img ng-if="m.poster_path === null" ng-src="img/image-not-available.png">
                <h2>{{m.title}}</h2>
                <p>{{m.release_date | date}}</p>
              <span ng-repeat="s in [0,1,2,3,4,5,6,7,8,9]">
                <i class="fa fa-star" ng-if="s < m.vote_average"></i>
                <i class="fa fa-star-o" ng-if="s > m.vote_average"></i>
              </span>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
        </ion-list>
    </ion-scroll>
</div>